/* Mobile & tablet */ 
@media (max-width: 1023px) {
    .app__content{padding-top: 8px;}

    .header__suggestions{
        top: 32px;
    }

    .hide-on-mobile-tablet{
        display: none;
    }

    .header__cart-list{
        position: fixed;
        top: var(--header_height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-item-trash{
        display: block;
    }
    .header__cart-item-remove{
        display: none;
    }

    .app__container{
        margin-top: calc(var(--header_height) + var(--header_sort-bar-height));
    }

    .header__sort-bar{
        display: flex;
    }

    .header__logo{
        width: 60px;
    }

    .header__logo-shopee{
        display: block;
    }

    .mobile-category{
        display: block;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root{
        --header_height: 80px;
        --navbar_height: 0px;
    }

    .hide-on-tablet{
        display: none;
    }

    .header__cart{
        width: 70px;
        text-align: right;
    }

    .header__navbar-item{
        position: absolute;
        top: 26px;
        right: 20px;    
    }

    .header__navbar-user-img{
        width: 32px;
        height: 32px;
    }
    .header__navbar-item-account{
        right: -20px;
        top: calc(100% + 10px)
    }
    .header__navbar-item-account::before{
        top: -20px;
        right: 18px;
    }
    .header__cart-list{
        width: 90%;
        right: 40px;
    }
    .header__cart-list::after{
        right: 24px;
    }
}

/* Tablet pro */
@media (min-width: 1024px) and (max-width: 1365px) {
 
    .hide-on-tablet-pro{
        display: none;
    }
}


/* Mobile */ 
@media (max-width: 739px) {
    :root{
        --header_height: 60px;
        --navbar_height: 0px;
    }

    .hide-on-mobile{
        display: none;
    }
    
    .header__cart-wrap:hover .hide-on-mobile{
        display: none;
    }

    .header__cart-wrap:hover .header__cart-list-mobile{
        display: block;
    }

    .header__cart-img{
        width: 100px;
        height: 100px;
    }

    .header__cart-item-name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100px;
        font-size: 1.8rem;
    }

    .header__cart-item-quote{
        font-size: 1.4rem;
    }

    .header__cart-item-prime-wrap{
        text-align: left;
        margin-left: 8px;
        margin-top: 10px;
    }

    .header__cart-item-prime{
        font-size: 1.6rem;
    }

    .header__cart-item-multiply{
        font-size: 1.2rem;
    }

    .header__cart-item-quantity{
        font-size: 1.4rem;
    }

    .header__cart-item-trash{
        display: inline-block;
        padding: 8px;
        font-size: 2.2rem;
        margin-top: 8px
    }

    .header__cart-list::after{
        right: 20px;
    }

    .header__logo-shopee{
        margin-left: 10px;
    }

    .nav__mobile{
        display: block;
    }

    .header__cart{
        width: 60px;
    }

    .header__cart-wrap{
        right: 2px;
    }

    .header__cart-list{
        padding: 0 20px;
    }

    .header-with-search{
        display: flex;
        justify-content: space-between;
    }

    .header__search{
        flex: unset;
        width: 360px;
        margin-left: 36px;
    }

    .heade__search-select{
        display: none;
    }

    .header__mobile-bars{
        display: block;
    }

    .pagination-item{
        margin: 0;
    }

    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 34px;
    }

    .app__content{
        margin: 0 4px;
    }

    .footer{
        padding: 0 16px;
    }

    .text-center-mobile{
        text-align: center;
        justify-content: center;
    }

    .footer__down-qr-code{
        margin-right: 4px;
    }

}
