
:root {
    --header-height : 130px;
    --navbar-height: 40px;
    --search-height: calc(var(--header-height) - var(--navbar-height));
    --text-color: #333;
    --primary-color: #ee4d2d;
    --star-gold-color: #ffce3d;
    --current-color: rgba(255, 216, 64, 0.94);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.border-right::after{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    height: 16px;
    border-right: 1px solid rgb(196, 196, 196);
}

.ml-12{
    margin-left: 12px;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.margin-center{
    margin: 0 auto;
}

.btn {
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: var(--primary-color);
    width: 60px;
    height: 90%;
    margin: 2px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}

.btn-icon {
    font-size: 15px;
    color: white;
}

.home-filter-btn{
    min-width: 90px;
    height: 34px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    margin-right: 12px;
    color: #222;
    cursor: pointer;
}

@-webkit-keyframes Opacity {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Opacity {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}