/* Tablet & Mobile */
@media (max-width: 64em) {
    .hide-on-mobile-tablet{
        display: none;
    }

    .header__content{
        position: relative;
    }

    .header__content-menu{
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    }

    .header__content-list{
        display: block;
        background:url('../img/background-menu.jpg') center / cover no-repeat;
        width: 100%;
    }

    .header__content-item{
        height: 60px;
        line-height: 60px;
    }

    .header__content-link{
        color: #e07676;
    }

    .slider{
        padding-top: 60%;
        height: unset;
    }

    .content__wedding-date-para,
    .content__wedding-users-name-para,
    .slider__item-para{
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1260 - 300)));
    }

    .audio audio{
        width: 100%;
        margin-top: 20px;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet{
        display: none;
    }

    .content__our-gallery-item:nth-child(3) .content__our-gallery-img {
        object-position: -90px 0;
    }

    .content__our-gallery-item:nth-child(10) .content__our-gallery-img {
        object-position: -80px 0;
    }

    .content__our-gallery-list{
        grid-gap: 1rem;
    }

    .footer__content-item{
        transform: translateX(10%);
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile{
        display: none;
    }

    .header__name{
        font-size: 1.8rem;
    }

    .header__menu-bars{
        transform: scale(0.8);
    }

    .slider__item:first-child .slider__item-para{
        top: 50%;
        transform: translateY(-50%);
        left: 2vw;
    }
    
    
    .slider__item:nth-child(2) .slider__item-para{
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
    }
    
    .slider__item:nth-child(3) .slider__item-para{
        bottom: 2vh;
    }
    
    .slider__item:last-child .slider__item-para{
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
        color: rgb(255, 58, 9);
    }

    .content__wedding-date-heading{
        font-size: 30px;
    }

    .content__wedding-users{
        max-width: 350px;
        margin: 0 auto;
    }

    .content__wedding-users-name-para{
        font-size: 24px;
    }

    .content__our-story-list{
        justify-content: flex-end;
        margin-bottom: 60px;
        margin-right: 8px;
    }

    .content__our-story-nav-para{
        margin-top: 0;
    }

    .content__our-story-wide::after,
    .content__our-story::before,
    .content__our-story::after{
        left: 10%;
    }

    .content__our-story-nav-item:nth-child(2){
        position: absolute;
        left: 10%;
        transform: translateX(-50%);
    }

    .content__our-story-nav-item-1{
        text-align: left;
        margin-bottom: 0;
    }

    .header__content-picture{
        right: 0;
        left: unset;
        z-index: 1;
    }

    .content{
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .content__our-gallery-list{
        grid-gap: 0.5rem;
    }

    .content__our-gallery-item:nth-child(3) .content__our-gallery-img {
        object-position: -59px 0;
    }

    .content__our-gallery-item:nth-child(10) .content__our-gallery-img {
        object-position: -48px 0;
    }

    .footer__content-item{
        transform: translateX(16%);
    }

    .footer__content-heading{
        font-size: 24px;
    }

}

/* PC low */
@media (min-width: 1024px) and (max-width : 1366px) {
    .content__our-gallery-item:nth-child(3) .content__our-gallery-img{
        object-position: -146px 0;
    }

    .content__our-gallery-item:nth-child(10) .content__our-gallery-img {
        object-position: -118px 0;
    }
}

/* Mobile low */
@media (max-width: 320px){
    .header__name{
        font-size: 1.2rem;
    }
}